*.egg-info
*.pot
*.py[co]
.tox/
.idea/
__pycache__
env*/
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*/migrations/0*
*/git_default_master_commit.sh
*/local_settings.*
*/runserver_local.sh
*/uninstall_local.sh
*local_*
media/
*/env*.py
dist/
.DS_Store
/db*.sqlite3
/static/
/local/
/local/backoffice.log

